---
title: Oh ? Page Abstente !
layout: base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1>404</h1>
  <p>Oops. La page n'a pas été trouvée,  <a href="{{ '/' | url }}">Aller à la page d'accueil</a>.</p>
</div>